* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
*::selection {
  background-color: #f5e95a;
  color: #535353;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page-back {
  height: 100%;
  width: 100%;
  z-index: 7;
}
.page-back video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page-front {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3vw;
}
.page1-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.page1-bottom {
  position: absolute;
  bottom: 0;
  color: #fff;
}
.page1-bottom h2 {
  font-size: 4vw;
}
.page1-bottom p {
  margin: 2vw 0;
  font-size: 1.4rem;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns a {
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 0.3s linear;
}
.btns a:hover {
  scale: 1.1;
}
.btns a:nth-child(1) {
  background-color: #6d47a1;
}
.btns a:nth-child(2) {
  background-color: #f5e95a;
  color: #000;
}
.btns a:nth-child(3) {
  background-color: #79f382;
  color: #000;
}
.btns a:nth-child(4) {
  background-color: #353fee;
}
#page2 {
  margin: 6vw 0;
  padding: 4vw;
  display: flex;
}
#page3 {
  margin: 6vw 0;
  padding: 0 4vw;
  display: flex;
  height: 170vh;
}
#page3 .box-img {
  height: 90%;
}
#page3 .box-content {
  height: 10%;
}
#page4 {
  height: 170vh;
  background-color: #02543c;
  margin: 6vw 0;
}
.page4-content {
  text-align: center;
  padding: 3vw 4vw;
}
.page4-content h1 {
  font-size: 15vw;
  color: #f7323f;
  margin-bottom: 3vw;
}
.page4-content p {
  font-size: 4vw;
  color: #fff;
  line-height: 4.5vw;
  letter-spacing: 0.1vw;
  margin-bottom: 3vw;
}
.page4-content a {
  background-color: #f7323f;
  padding: 1vw 2.5vw;
  color: #fff;
  border-radius: 3vw;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}
.page4-content a .btn-content {
  z-index: 10;
  position: relative;
}
.page4-content a .left {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #000;
  left: 0;
  top: 0;
  border-radius: 3vw;
  transition: all 0.3s linear;
}
.page4-content a .right {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #000;
  right: 0;
  top: 0;
  border-radius: 3vw;
  transition: all 0.3s linear;
}
.page4-content a:hover .left {
  width: 100%;
}
.page4-content a:hover .right {
  width: 100%;
}
.page4-content img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.page4-content .top {
  height: 200px;
  top: 7%;
}
.page4-content .bottom {
  height: 300px;
  bottom: 25%;
}
#marque {
  width: 100%;
  height: 40vh;
  background-color: #f7323f;
  margin-top: 10vw;
  font-size: 4.5vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#marque span i {
  font-size: 22px;
  padding: 3vw;
  background-color: #fff;
  color: #f7323f;
  text-align: center;
  border-radius: 50%;
}
#page5 {
  display: flex;
}
#page5 .box-cont {
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page5 .box-cont:hover img {
  rotate: -10deg;
  scale: 1.1;
}
#page5 .box-cont .box-cont-top {
  margin: 2vw 4vw;
  display: flex;
  justify-content: space-between;
}
#page5 .box-cont .box-cont-top h1 {
  font-size: 2.5vw;
  margin-bottom: 4vw;
}
#page5 .box-cont .box-cont-top p {
  font-size: 1.2vw;
  margin-bottom: 2vw;
  width: 70%;
}
#page5 .box-cont .box-cont-top img {
  height: 17vw;
  width: 17vw;
  transition: all 0.3s ease;
}
#page5 .box-cont .box-cont-bottom {
  margin: 0 0 3vw 3vw;
  font-size: 2vw;
}
#page5 .box-cont .box-cont-bottom a {
  color: #fff;
  background-color: #6d47a1;
  padding: 1vw 2.5vw;
  border-radius: 3vw;
  transition: all 0.3s linear;
}
#page5 .box-cont .box-cont-bottom:hover a {
  background-color: #f7323f;
}
